.button {
    width: 100%;
    margin: 0 1em;
    height: 3vh;
    opacity: .85;
    border: none;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

.button:hover {
    opacity: 1;
    transition: .5s ease-in-out;
    cursor: pointer;
}

