.form {
    width: 65vw;   
    background-color: rgb(180, 180, 180);
    padding: 2em;
    border-radius: 30px;
}

.divTask, .divTime {
    display: flex;
    flex-direction: column;
}

.divTask {
    margin-bottom: 1.4em;
}

.label {
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: .2em;
}

.inputTask {
    font-family: 'Lato', sans-serif;
    font-size: 2.4em;
    border: none;
    border-radius: 8px;
    width: 60vw;
    max-height: 55px;
    width: 100%;
}

.inputTime {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    height: 2em;
    border: none;
    border-radius: 5px;
    width: 60vw;
    max-height: 55px;
    width: 100%;
}

.input:focus {
    outline: 3px solid #000;
  }



