.form {
    background-color: rgb(180, 180, 180);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 30px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divTask, .divTime {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.divTask {
    margin-bottom: 1em;
}

.divTime {
    margin-bottom: 1em;
}

.label {
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: .2em;
    text-align: center;
}

.inputTask {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    border: none;
    border-radius: 8px;
    height: 2em;
}

.inputTime {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    height: 2em;
    border: none;
    border-radius: 5px;
}

input:focus {
    outline: 3px solid rgb(119, 119, 119);
  }



