.cronometer {
    background-color: #B4B4B4;
    margin-top: 1em;
    padding: 1em 1em;
    border-radius: 30px;
    height: 40%;
}

.title {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.banana {
    height: 5em;
    background-color: red;
}
