.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number  {
    font-size: 15em;
    background-color: #fefefe;
    border-radius: 18px;
    margin: 20px 4px;
}

.points {
    font-size: 15em;
}




@media screen and (max-width: 1560px){
    .number {
        font-size: 12em;
        border-radius: 9px;
    }

    .points {
        font-size: 12em;
    }

}

@media screen and (max-width: 1282px){
    .number {
        font-size: 10em;
        border-radius: 9px;
    }

    .points {
        font-size: 10em;
    }

}

@media screen and (max-width: 1080px){
    .number {
        font-size: 5em;
        border-radius: 9px;
    }

    .points {
        font-size: 5em;
    }

}


