.number  {
    font-size: 15em;
    background-color: #fefefe;
    border-radius: 18px;
    margin: 2% 4px;
}

.points {
    font-size: 15em;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}