.section {
    background-color: #B4B4B4;
    width: 30%;
    margin: 0 0 0 2%;
    border-radius: 30px;
}

.titulo {
    font-size: 1.8em;
    color: #000;
    font-weight: bold;
    margin: 0.5em 0 1em 0;
    text-align: center;
}

.lista {
    margin-left: 1em;
    font-size: 1.2em;
}

.item {
    margin: 0 1em .5em 0em;
    background-color: #EBEBEB;
    padding: .2em;
    border-radius: 6px;
    transition: .8s;
}

.item:hover {
    cursor: pointer;
}

.itemSelected {
    color: #fff;
    background-color: rgb(44, 44, 44);
}

.itemCompleted {
    color: #fff;
    background-color: rgb(11, 143, 18);
}

.nomeItem {
    margin-bottom: .1em;
    font-weight: bold;
}

