.section {
    background-color: #B4B4B4;
    width: 30%;
    margin: 0 0 0 2em;
    border-radius: 30px;
    height: 100%;
    overflow: hidden;
}

.titulo {
    font-size: 1.8em;
    color: #000;
    font-weight: bold;
    margin: 0.5em 0 1em 0;
    text-align: center;
}

.lista {
    margin: 0 1em;
    font-size: 1.2em;
}

.item {
    margin-bottom: .5em;
    background-color: #EBEBEB;
    padding: .2em;
    border-radius: 6px;
    transition: .8s;
}

.item:hover {
    cursor: pointer;
}

.itemSelected {
    color: #fff;
    background-color: rgb(44, 44, 44);
}

.itemCompleted {
    color: #fff;
    background-color: rgb(11, 143, 18);
}

.nomeItem {
    margin-bottom: .1em;
    font-weight: bold;
}


@media screen and (max-width: 738px){
    .section {
        width: 100%;
        margin: 0 0 .5em 0;
        height: 25%;
        border-radius: 15px;
    }

    .titulo {
        font-size: 1.2em;
    }

    .lista {
        font-size: 1em;
    }

    .item {
        margin-bottom: .3em;
    }
    

}