.app {
    width: 90vw;
    height: 90vh;
    margin: 5vh auto;
    display: flex;
}

.tasks {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

@media screen and (max-width: 738px){
    .app {
        flex-direction: column-reverse;
        height: auto;
        margin: 2vh auto;
    }

    .tasks {
        width: 100%;
    }
}



