.div {
    background-color: #B4B4B4;
    margin-top: 1em;
    padding: 1em;
    border-radius: 30px;
    height: 30%;
}

.title {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.trace {
    background-color: #000;
    width: 100%;
    height: 2px;
    margin-bottom: .2em;
    border-radius: 2px;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: 100%;
}

.item {
    background-color: #fff;
    height: 2em;
    width: 8em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25em .5em .25em 0;
}

.item:hover {
    background-color: #adffc2;
    transition: .3s;
    cursor: pointer;
}

.name {
    font-weight: bold;
    color: green;
}

@media screen and (max-width: 738px){
    .div {
        margin-top: .5em;
        border-radius: 15px;
        padding: .5em;
        height: 100%;
    }

    .title {
        font-size: 1.5em;
    }

    .item {
        height: 2em;
        width: 100%;
        border-radius: 8px;
        margin: .25em .5em 0 0;
    }
}
